.skabholmenGroup{
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: var(--space);
    padding-bottom: var(--space);
    margin-bottom: -.5em;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }

    li {
      margin-bottom: .5em;
      
      @include mq($until: tablet){
        font-size: 18px;
        margin-top: 3em;
        //margin-bottom: 2em;
        text-align: center;

        flex: 0 0 spanNestedGrid(12, 12);
        
      }
      @include mq($from: tablet){
        font-size: 25px;
        line-height: 32px;
        flex: 0 0 spanNestedGrid(12, 3, true);
        &:nth-of-type(4n){
          flex: 0 0 spanNestedGrid(12, 3, false);
        }
        
      }
      @include mq($from: wide){
        font-size: 30px;
        line-height: 37px;
      }
    }
  }  
}