.skabholmenGroup{
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2em;
    
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }
    
    @include mq($until: tablet){
      padding-top: 0em;
      margin-bottom: -.5em;
      padding-bottom: var(--space);
    }
    li {
      overflow: hidden;
      text-overflow: ellipsis;
      @include mq($until: tablet){
        font-size: 18px;
        margin-top: 3em;
        text-align: center;
        margin-bottom: .5em;
        flex: 0 0 spanNestedGrid(12, 12);
      }
      @include mq($from: tablet){
        font-size: 25px;
        line-height: 32px;
        flex: 0 0 spanNestedGrid(12, 3, true);
        margin-bottom: 5em;
        padding-right: var(--small-space);
        &:nth-of-type(4n){
          flex: 0 0 spanNestedGrid(12, 3, false);
        }
        
      }
      @include mq($from: wide){
        font-size: 30px;
        line-height: 37px;
        
      }
    }
  }  
}