.wrap{
  margin-left: var(--outer-margin);
  margin-right: var(--outer-margin);
  .content{
    position: relative;
    padding-left: spanGrid(4, true);
    @include mq($until: tablet){
      padding-left: 0;
    }
  }
}