.wrap{
  margin-left: var(--outer-margin);
  margin-right: var(--outer-margin);
  .content{
    position: relative;
    padding-left: spanGrid(4, true);
    @include mq($until: desktop){
      padding-left: 0;
    }
    padding-bottom: calc(var(--space) * 2);
  }
}