.footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  min-height: 30vh;
  padding: var(--outer-margin);
  
  font-family: "Brown";
  color: $graydark;
  .wrap{
    display: flex;
    flex-direction: column;
    margin-left: spanGridWithGutter(4);
    //margin-right: spanGridWithGutter(4);
    //width: 100%;
    > div{
      margin-bottom: $small-space;
    }
    .top{
      display: flex;
      flex-direction: row;
      width: 100%;
      .address{
        p{
          font-size: $h2-font-size ;
        }
        
        flex: 0 0 spanNestedGrid(12, 6, true);
      }
      ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        line-height: 2;
      }
      .menu{
        flex: 0 0 spanNestedGrid(12, 3, true);
      }
      .social{
        flex: 0 0 spanNestedGrid(12, 3);
      }
    }
    .bottom{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .phone{
        flex: 1 1 100%;
      }
      .email{
        flex: 0 0 spanNestedGrid(12, 6, true);
      }
      .copyright{
        flex: 1 1 auto;
      }
    }
  }
}