.full{
  position: relative;
  //margin-left: var(--outer-margin);
  //margin-right: var(--outer-margin);
}

.page{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 186px;
  //margin-left: var(--outer-margin);
  //margin-right: var(--outer-margin);
}