.logo,
.menu {
  position: fixed;
  z-index: 1000;
  color: $white;
  
}

.logo {
  top: var(--outer-margin);
  left: 0;
  margin-left: var(--outer-margin);
  z-index: 1000;
  line-height: 1;
  width:174px;
  height:15px;
  padding: 0;
  &.invert{
    path{
      fill:$black;
    }
  }
}

.menu {
  
  font-family: "Brown";
  top: var(--outer-margin);
  right: 0;
  opacity: 1;
  transition: opacity .3s ease;

  &.invert{
    color:$black;
    * > svg{
      path{
        fill:$black ;
        stroke: $black !important;
      }
    }
  }
  ul {
    list-style: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70vw;

    li {
      display: flex;
      flex-direction: column;

      cursor: pointer;

      .title {
        display: flex;
        flex-direction: row;
        text-align: left;
        position: relative;
        align-items: center;
        text-transform: uppercase;
        line-height: 1;

        .arrow {
          margin-left: .5rem;
          min-height: 7px;
          min-width: 10px;
          max-width: 10px;
          transition: transform .2s ease;
          transform: rotate(-90deg);
          path {
            stroke: $white;
          }
          &.show{
            transform: rotate(0deg);
          }
        }
      }

      > ul {
        flex: 0 0;
        display: flex;
        opacity: 0;
        pointer-events: none;
        flex-direction: column;
        background-color: $white;
        width: auto;
        text-align: center;
        padding: 0;
        margin-top: var(--small-space);
        padding: calc($small-space / 2);
        border: var(--line-width) solid $graylight;

        &.show {
          pointer-events: all;
          opacity: 1;
        }

        li {
          padding: 0;
          flex: 0 0;
          text-align: center;
          line-height: 25px;
          a{
            color: $gray;
            transition: color .5s ease;
            &:hover{
              color:$black;
            }
          }
          
        }
      }
    }
  }

  &.hide {
    opacity: 0;
  }
}