@font-face {
    font-family: "Dominicale Alpha";
    src: url("/fonts/Dominicale Alpha.woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Brown";
    src: url("/fonts/BrownLight Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

