// REMOVE MARGIN FROM LAST COLUMN IN GRID
@mixin resetLastColumn($lastColumn) {
  $lastColumn: $lastColumn + n;
  &:nth-of-type(#{$lastColumn}) {
    margin-right: 0;
  }
}

// WIDTH OF UNITS IN GRID WITHOUT LAST GUTTER
@function spanGrid($amount) {
  @return $column-width * $amount + $gutter * ($amount - 1);
}

$totalWidth12cols: spanGrid(12);
$difference12: $totalWidth12cols / 100%;
$gutter-nested: $gutter / $difference12; //Denna ska göras om

// WIDTH OF UNITS IN GRID WITH  LAST GUTTER
@function spanGridWithGutter($amount) {
  @return $column-width * $amount + $gutter * $amount;
}

@function spanNestedGrid($container, $element, $withGutter: false) {
  $totalWidth: spanGrid($container);
  $nestedWidth: (($totalWidth - (($container - 1) * $gutter)) / $container);
  $difference: $totalWidth / 100%;
  $width: ($nestedWidth * $element + $gutter * ($element - 1)) / $difference;
  
  @if $withGutter{
    $width: $width + nestedGridGutter($container)
  }
  @return $width;
}

@function nestedGridGutter($container) {
  $temp: 100% / spanGrid($container);
  @return $temp * $gutter;
}


// ASPECT-RATIO
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// REMOVE MARGIN FROM LAST COLUMN IN GRID

@mixin resetLastColumn($lastColumn) {
  $lastColumn: $lastColumn + n;
  &:nth-of-type(#{$lastColumn}) {
    margin-right: 0;
  }
}

// SET OUTER MARGINS ON SECTION
@mixin outerMargins() {
  padding-left: $outer-margin * 1.5;
  padding-right: $outer-margin * 1.5;

  @include mq($from: tablet) {
    padding-left: $outer-margin;
    padding-right: $outer-margin;
  }
}

@mixin verticalMarginTop() {
  padding-top: $space;

  @include mq($from: tablet) {
    padding-top: $scale-space * 2;
  }

  @include mq($from: wide) {
    padding-top: $space * 1.8;
  }
}

@mixin verticalMarginBottom() {
  padding-bottom: $space;

  @include mq($from: tablet) {
    padding-bottom: $scale-space * 2;
  }

  @include mq($from: wide) {
    padding-bottom: $space * 1.8;
  }
}

@mixin maxWidth() {
  max-width: $max-width;
  margin: auto;
}


@mixin headerStyle($heading) {
  font-size: var(--h#{$heading}-font-size);
  line-height: calc(var(--h#{$heading}-font-size) + 7px);
}