body {
  font-family: $body-font;
  font-size: $body-font-size;
  line-height: 1.23em;
}

h1,
h2,
h3 {
  line-height: 1;
  font-family: $headline-font;
  font-variation-settings: "wght" 700;
  font-weight: normal;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
  text-transform: uppercase;
}

p {
  font-family: $body-font;
  font-size: $body-font-size;
  line-height: $body-line-height;
  @include mq($from: tablet) {}
}

h1+hr+p, h1+p {
  font-family: $body-font;
  font-size: 35px;
  margin-top: var(--space);
}

h2+h3{
  line-height: 2;
}

p{
  &.intro{  
    font-family: $body-font;
    font-size: 35px;
  }
}
