body {
  font-family: $body-font;
  font-size: $body-font-size;
  line-height: 1.23em;
}

h1,
h2,
h3 {
  line-height: 1;
  font-family: $headline-font;
  font-variation-settings: "wght" 700;
  font-weight: normal;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
}

p {
  font-family: $body-font;
  font-size: $body-font-size;
  line-height: $body-line-height;

  @include mq($from: tablet) {}
}