// COLOR
$black: #121212;
$white: #fafafa;
$gray: #989898;

//BORDER
$line: 3px solid $black;
$radius: 20px;

// MARGINS & SPACES
$outer-margin: 22%;
$space: 80px;
$small-space: 20px;
$max-width: 1440px;

// FONT EMBEDDING & TYPO VARIABLES
$body-font: "Helvetica";
$headline-font: "Helvetica";
$mono-font: "";
$body-font-italic: "";

$navbarHeight: 80px;
$navbarHeightMobile: 62px;

// GRID
$columns: 16;
$gutter: 1.47%;
$column-width: ((100% - (($columns - 1) * $gutter)) / $columns);