// COLOR
$black: #121212;
$white: #fafafa;
$gray: #989898;
$graylight: #dedede;
$graydark: #4A4A4A;
$blue: #0066A6;

//BORDER
$line: 3px solid $black;
$radius: 20px;

// MARGINS & SPACES
$outer-margin: 22%;
$space: 80px;
$small-space: 20px;
$max-width: 1440px;

// FONT EMBEDDING & TYPO VARIABLES
$body-font: "Dominicale Alpha";
$body-font-size: 14px;
$body-line-height: 1.25em;
$headline-font: "Brown", "Helvetica", sans-serif;

$h1-font-size : 40px;
$h2-font-size : 24px;
$h3-font-size : 14px;


$navbarHeight: 80px;
$navbarHeightMobile: 62px;

// GRID
$columns: 16;
$gutter: 1.47%;
$column-width: ((100% - (($columns - 1) * $gutter)) / $columns);