// COLOR
$black: #121212;
$white: #fafafa;
$gray: #bbb;

//BORDER
$line: 3px solid $black;
$radius: 20px;

// MARGINS & SPACES
$outer-margin: 22%;
$space: 80px;
$small-space: 20px;
$max-width: 1440px;

// FONT EMBEDDING & TYPO VARIABLES
$body-font: "Helvetica";
$headline-font: "";
$mono-font: "";
$body-font-italic: "";

$navbarHeight: 80px;
$navbarHeightMobile: 62px;