
.contact{
  position: fixed;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: $blue;
  color: $white;
  padding: var(--outer-margin); 
  font-family: $headline-font;
  transform: translateY(100%);
  transition: transform 0.5s cubic-bezier(0.19, 0.92, 0, 1);
  
  &.show{
    transform: translateY(0%);
  }
  p {
    font-size: var(--paragraph-font-size);
    line-height: var(--paragraph-line-height);
  } 
  > p{
    flex: 0 0;
    width: 100%;
    margin-bottom: 4rem;
    
    p{
      margin-bottom: 0;
    }

    @include mq($from: tablet){
      padding-left: spanNestedGrid(16, 3, true);
      padding-right: spanNestedGrid(16, 3);
      > br{
        content: " ";
        &:after{
          content: " ";
        }
      }
      
    }
    @include mq($until: tablet){
      padding-left: 0;
      padding-right: 0;
    }

    &:last-of-type{
      margin-bottom: 0;
    }
    h3{
      @include headerStyle(2);
      margin-bottom: 2rem;
      @include mq($until: tablet){
        margin-bottom: 1rem;
      }
    }
    a{
      color:$white;
    }

  }

  .footer{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    left:0;
    bottom:0;
    padding: var(--outer-margin);
    width: 100%;
    
    .links{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      flex: 1 1 100%;
      margin-bottom: -8px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0;
        padding: 8px;
        img{
          filter: invert(1);
          min-height: 26px;
          max-height: 26px;
          margin: 0px;
        }
      }
    }
    
  }

  .close{
    position: absolute;
    top:0;
    right: 10px;
    padding: var(--outer-margin);
    cursor: pointer;
    color:$white;
    svg{
      width: 12px;
      height: 12px;
      path{
        stroke:$white;
      }
    }
    @include mq($until: tablet){
      display: none;
    }
  }
}