@use "sass:math";

:root{
  --outer-margin: 40px;
  --space: 80px;
  --small-space: 20px;
  --line-width: 1px;
  --line: var(--line-width) solid #{$blue};
  
  @include mq($until: tablet){
    --outer-margin: 20px
    --space: 40px;
    --small-space: 10px;
  }
}

hr{
  height: 1px;
  background: $blue;
  border: 0;
  padding: 0;
  margin-bottom: 72px;
  margin-top: var(--small-space);
}