@use "sass:math";

:root{
  --line-width: 1px;
  --line: var(--line-width) solid #{$blue};
  
  @include mq($from: tablet){
    --outer-margin: 40px;
    --space: 80px;
    --small-space: 20px;
    --h1-font-size: 40px;
    --h2-font-size: 24px;
    --h3-font-size: 14px;
    --body-font-size: 14px;
    --navbar-height : 100px;
  }
  
  @include mq($until: tablet){
    --outer-margin: 20px;
    --space: 40px;
    --small-space: 10px;
    --h1-font-size: 30px;
    --h2-font-size: 20px;
    --h3-font-size: 12px;
    --body-font-size: 12px;
    --navbar-height : 60px;
  }
}