@use "sass:math";

:root{
  --line-width: 1px;
  --line: var(--line-width) solid #{$blue};
  
  
  @include mq($until: desktop){
    --outer-margin: 20px;
    --space: 40px;
    --small-space: 10px;
    --h1-font-size: 22px;
    --h2-font-size: 18px;
    --h3-font-size: 12px;
    --paragraph-font-size: 16px;
    --paragraph-line-height: 24px;
    --body-font-size: 12px;
    --navbar-height : 60px;
  }
  
  @include mq($from: desktop){
    --outer-margin: 50px;
    --space: 80px;
    --small-space: 20px;
    --h1-font-size: 35px;
    --h2-font-size: 24px;
    --h3-font-size: 14px;
    --paragraph-font-size: 30px;
    --paragraph-line-height: 40px;
    --body-font-size: 14px;
    --navbar-height : 100px;
  }
  
  @include mq($from: wide){
    --outer-margin: 70px;
    --space: 100px;
    --small-space: 30px;
    --h1-font-size: 45px;
    --h2-font-size: 34px;
    --h3-font-size: 18px;
    --paragraph-font-size: 40px;
    --paragraph-line-height: 50px;
    --body-font-size: 18px;
    --navbar-height : 100px;
  }
}