.footer{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  min-height: 30vh;
  padding: var(--outer-margin);
  padding-top: var(--space);
  padding-bottom: var(--space);
  font-family: "Brown";
  color: $graydark;

  .wrap{
    display: flex;
    flex-direction: column;
    margin-left: spanGridWithGutter(2);
    margin-right: spanGridWithGutter(2);
    
    @include mq($until: tablet){
      margin-left: 0;
      margin-right: 0;
      .top{
        .address{
          flex: 1 1 100% !important;
        }
        .menu, .social{
          flex: 0 0 50% !important;
        }
        
      }
    }

    > div{
      margin-bottom: $small-space;
    }
    .top{
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      .address{
        p{
          font-size: $h2-font-size ;
        }
        flex: 0 0 spanNestedGrid(12, 8, true);
      }
      ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        line-height: 2;
        text-transform: uppercase;
        counter-reset: $gray;
      }
      
      .menu{
        flex: 0 0 spanNestedGrid(12, 2, true);
      }
      .social{
        flex: 0 0 spanNestedGrid(12, 2);
      }
      .up{
        position: absolute;
        top:0;
        right:0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 52px;
        min-height: 52px;
        border-radius: 26px;
        background-color: $blue;
        transform: translateY(-25px);
        margin-right:-100px;
        cursor: pointer;
        svg{
          width: 12px;
          height: 17px;
        }
        @include mq($until: tablet){
          display: none;
        }
      }
    }
    .bottom{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 0;
      .phone{
        flex: 1 1 100%;
        margin-bottom: var(--small-space);
        
      }
      .email{
        flex: 0 0 spanNestedGrid(12, 8, true);
      }
      .copyright{
        flex: 1 1 auto;
      }

      @include mq($until: tablet){
        .phone{
          margin-top: var(--space);
        }
        .phone, .email{
          
          text-align: center;
          flex: 1 1 50%;
        }
        .copyright{
          text-align: center;
          margin-top: var(--space);
        }
      }
    }
    
  }
  
}