.menu {
  position: fixed;
  z-index: 1000;
  color: $white;
  font-family: "Brown";
  top: var(--outer-margin);
  right: 0;
  padding-right: var(--outer-margin);
  padding-left: 10px;
  width: spanGrid(10);
  opacity: 1;
  transition: opacity .3s ease;
  color: $black;

  @include mq($until: tablet) {
    display: none;
  }
  &.hide{
    opacity: 0;
  }
  &.invert {
    color: $white;

    *>svg {
      path {
        fill: $white;
        stroke: $white  !important;
      }
    }
  }

  ul {
    list-style: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
      display: flex;
      flex-direction: column;

      cursor: pointer;

      .title {
        display: flex;
        flex-direction: row;
        text-align: left;
        position: relative;
        align-items: center;
        text-transform: uppercase;
        line-height: 1;


        .arrow {
          margin-left: .5rem;
          min-height: 7px;
          min-width: 10px;
          max-width: 10px;
          transition: transform .2s ease;
          transform: rotate(-90deg);

          path {
            stroke: $black;
          }

          &.show {
            transform: rotate(0deg);
          }
        }
      }
    }
  }
}

.item {
  font-family: "Brown";
  list-style: none;
  position: absolute;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  z-index: 100;
  top:0;
  left:0;
  width: auto;
  min-width: 200px;
  text-align: center;
  padding: 0;
  padding-top: 50px;
  transition: opacity .2s ease, transform .3s ease;
  opacity: 0;
  pointer-events: none;
  transform: scaleY(0.8);

  &.show {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    transform: scaleY(1);
  }
  
  li{
    
    padding: 0;
    flex: 0 0;
    text-align: center;
    line-height: 25px;
    background-color: $white;
    padding-bottom: calc($small-space);
    border-left: var(--line-width) solid $graylight;
    border-right: var(--line-width) solid $graylight;
    line-height: 1;
    &:first-child{
      border-top: var(--line-width) solid $graylight;
      padding-top: calc($small-space);
    }
    &:last-child{
      border-bottom: var(--line-width) solid $graylight;
      
    }
    
    a {
      color: $gray;
      transition: color .5s ease;

      &:hover {
        color: $black;
      }
    }
  }
  &.invert{
    li{
      border: 0;
    }
  }
  @include mq($until: tablet) {
    display: none;
  }
}