.menu {
  position: fixed;
  z-index: 1000;
  color: $white;
  font-family: "Brown";
  top: var(--outer-margin);
  right: 0;
  left: 0;
  margin-right: var(--outer-margin);
  margin-left: var(--outer-margin);
  opacity: 1;
  transition: opacity .3s ease;
  color: $graydark;

  @include mq($until: desktop) {
    display: none;
  }
  
  &.hide{
    opacity: 0;
    pointer-events: none;
  }
  &.invert {
    color: $white;

    *>svg {
      path {
        fill: $white;
        stroke: $white  !important;
      }
    }
  }

  ul {
    list-style: none;
  }

  ul {
    padding-left: spanGrid(5, true);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
      display: flex;
      flex-direction: column;

      cursor: pointer;

      .title {
        display: flex;
        flex-direction: row;
        text-align: left;
        position: relative;
        align-items: center;
        text-transform: uppercase;
        line-height: 1;
        white-space: pre;
        &.selected{
          
        }
        &.contact{
          visibility: hidden;
        }
      }
    }
  }

}

.contactButton{
  //display: none;
  position: fixed;
  appearance: none;
  top:0;
  right: -22px;
  z-index: 1000;
  margin:var(--outer-margin);
  box-shadow: none;
  border: 0;
  padding: 12px 20px 12px 20px;
  color: $graydark;
  border-radius: 30px;
  border: 2px solid transparent;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Brown";
  cursor: pointer;
  transform: translateY(calc(-50% + 7px));

  @include mq($until: desktop) {
    display: none;
  }
  @include mq($from: wide) {
    transform: translateY(calc(-50% + 10px));
  }

  &:hover{
    border: 2px solid $graydark;
    background-color: $white;
  }
  &.inverted{
    color: $white;
    &:hover{
      border: 2px solid $white;
      background-color: transparent;
    }  
  } 
}

.item {
  font-family: "Brown";
  list-style: none;
  position: absolute;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  z-index: 100;
  top:0;
  left:0;
  width: auto;
  min-width: 200px;
  text-align: center;
  padding: 0;
  padding-top: 50px;
  transition: opacity .2s ease, transform .3s ease;
  opacity: 0;
  pointer-events: none;
  transform: scaleY(0.8);

  &.show {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    transform: scaleY(1);
  }
  
  li{
    
    flex: 0 0;
    text-align: center;
    line-height: 25px;
    background-color: $white;
    padding: $small-space;
    padding-top: 0;
    border-left: var(--line-width) solid $graylight;
    border-right: var(--line-width) solid $graylight;
    line-height: 1;

    &:first-child{
      border-top: var(--line-width) solid $graylight;
      padding-top: $small-space;
    }
    &:last-child{
      border-bottom: var(--line-width) solid $graylight;
      
    }
    
    a {
      color: $gray;
      transition: color .5s ease;

      &:hover{
        color: $gray;
      }
      &.selected{
        color: $blue;
      }
      
    }
  }
  &.invert{
    li{
      border: 0;
    }
  }
  @include mq($until: tablet) {
    display: none;
  }
}