
.navbar {
  position: fixed;
  z-index: 1000;
  color: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  left: 0;
  
  @include mq($until: tablet) {
    background-color: $white;
    width: 100%;
    min-height: var(--navbar-height); 
  }

  &.transparent{
    background-color: transparent;
  }

  .logo {
    position: relative;
    margin-left: var(--outer-margin);
    line-height: 0;
    padding: 0;

    @include mq($from: tablet) {
      top: calc(var(--outer-margin) - 2px);
    }
    @include mq($from: wide) {
      top: calc(var(--outer-margin) - 8px);
    }
    
    
    &.invert {
      svg {
        path {
          fill: $white;
        }
      }
    }

    svg {
      
      &:nth-child(1) {
        width: 113px;
        height: 15px;
        margin-right: 7px;
      }

      &:nth-child(2) {
        width: 52px;
        height: 15px;
        transform: translateX(10px);
        filter: blur(3px);
        animation: show 2.5s .1s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;

        @keyframes show {
          to {
            filter: blur(0px);
            transform: translateX(0px);
          }
        }
      }
      @include mq($from: wide) {
        &:nth-child(1) {
          width: calc(113px * 1.4);
          height: calc(15px * 1.4); 
          margin-right: 12px;
        }
        &:nth-child(2) {
          width: calc(52px * 1.4);
          height: calc(15px * 1.4);
        }
      }
    }
  }

  .hamburger {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    color: $black;
    margin-right: calc(28px - var(--outer-margin));
    @include mq($from: tablet) {
      display: none;
    }
  }

  * > path {
    transition: fill 0.5s ease;
  }
}