
.navbar {
  position: fixed;
  z-index: 1000;
  color: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  left: 0;
  
  @include mq($until: tablet) {
    background-color: $white;
    width: 100%;
    min-height: var(--navbar-height); 
  }

  &.transparent{
    background-color: transparent;
  }

  .logo {
    position: relative;
    flex: 0 0 194px;
    margin-left: var(--outer-margin);
    line-height: 0;
    width: 194px;
    height: 15px;
    padding: 0;

    @include mq($from: tablet) {
      top: calc(var(--outer-margin) - 4px);
    }
    
    &.invert {
      svg {
        path {
          
          fill: $white;
        }
      }
    }

    svg {
      
      &:nth-child(1) {
        margin-right: 8px;
      }

      &:nth-child(2) {
        transform: translateY(4px);
        filter: blur(3px);
        animation: show 1s .1s ease-out forwards;

        @keyframes show {
          to {
            filter: blur(0px);
            transform: translateY(0.5px);
          }
        }
      }

    }
  }

  .hamburger {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    color: $black;
    margin-right: calc(28px - var(--outer-margin));
    @include mq($from: tablet) {
      display: none;
    }
  }

  * > path {
    transition: fill 0.5s ease;
  }
}