
.navbar {
  position: fixed;
  z-index: 3000;
  color: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  left: 0;
  
  @include mq($until: desktop) {
    background-color: $white;
    background-color: transparent;
    width: 100%;
    min-height: var(--navbar-height); 
  }
  transition: background-color .3s ease-out;
  &.transparent{
    background-color: transparent;
  }

  .logo {
    position: relative;
    margin-left: var(--outer-margin);
    line-height: 0;
    padding: 0;

    @include mq($from: desktop) {
      top: calc(var(--outer-margin) - 2px);
    }
    @include mq($from: wide) {
      top: calc(var(--outer-margin) - 8px);
    }
    
    svg {
      path {
        fill: $graydark;
      }
    }
    &.invert {
      svg {
        path {
          fill: $white;
        }
      }
    }
    svg {
      width: 174px;
      height: 15px;
      margin-right: 7px;
    }
  }

  .hamburger {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    color: $black;
    
    @include mq($until: tablet) {
      margin-right: calc(28px - var(--outer-margin));
      
    }
    @include mq($from: tablet) {
      margin-right: 28px;
    }
    
    @include mq($from: desktop) {
      display: none;
    }
  }

  * > path {
    transition: fill 0.5s ease;
  }

}